body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(222, 230, 236);  
}
.header-menu{
  background-color:  rgb(49, 49, 122);
    padding: 34px 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 10px rgb(100, 123, 141);

}
.sultana{
  color: rgb(210, 216, 228);
}
.link{
    margin-left: 300px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-weight: 400;
    text-decoration: none;
    color: rgb(210, 216, 228);

}
.link:hover{
    color: rgb(51, 163, 207);
}

.section1{
   display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1350px;
    align-items: center;
    padding: 10px 100px;

    
}


.section1_right{
    width: 40%;
    height: 650px;
    overflow: hidden;

}
.section1_right img{
  width: 600px;
}
  


  h1{
    color: rgb(66, 65, 64);
    font-size: 50px;

  }


.email{
    color: rgb(194, 204, 212);
    padding: 7px;
    background-color: rgb(20, 106, 139);
    border: 3px;
    border-radius: 3px;
    text-decoration: none;
   
}
  .email:hover{
    background-color: rgb(68, 78, 92);
    
  }

  .social{
    text-align: left;
    margin-left: 100px;
    font-size: 20px;

  }

  .skills{
    background-color: rgb(189, 213, 235);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    padding: 50px;
    margin: 60px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(59, 58, 58);
    
  }

  .left{
    width: 600px;

  }
  h3{
    color: rgb(11, 121, 165);
  }

  .dev-img{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;

  }

  .dev-img img {
    object-fit: cover;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
  }
  .experience{
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    border: 20px solid rgb(141, 141, 153);
    background-color: rgb(196, 216, 230);
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray;

  }

  .formation1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    margin-top: 100px;
    font-size: 20px;
  }
  .for-left{
    width: 300px;
    text-align: center;
    margin-left: 300px;
    margin-top: 50px;

    

  }
  .for-ri8{
    width: 50%;
  }

  .quote{
    color: rgb(238, 232, 232);
    font-size: 30px;
    padding: 120px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(49, 49, 122);

  }

  
  h2{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: rgb(44, 40, 40);
    text-shadow: 10px 10px 10px gray;
    text-decoration: underline;
  }
  

  input{
    width: 25%;
    padding: 10px;
    
  }

  .form{
    text-align: center;
    padding: 30px;
    font-size: 20px;
  }
  button{
    padding: 10px;
    background-color: rgb(35, 160, 35);
    color: rgb(24, 25, 26);
    width: 5%;
    font-size: 15px;
  }
  
  button:hover{
    background-color: rgb(133, 133, 182);
  }
    
  .footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
    padding: 30px;
    width: 100% auto;
    font-size: 30px;
    background-color: rgb(12, 12, 12);
  }